.landing-page {
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(0, 157, 255, 0), rgb(81,91,136));
    text-align: center;
  }


  /* .landing-page {
    background-color: rgb(195,200,204);
  } */